

.contact_us_sec{background-color: #000; padding-top: 100px;padding-bottom: 60px; border-top-left-radius: clamp(20px, 2.5vw, 40px); border-top-right-radius:clamp(20px, 2.5vw, 40px);border-bottom: 8px solid #FCBC14;}
.sm-details-top{display:flex;}
.sm-details-top svg{width:36px;}
.sm-details-top p{width:calc(100% - 36px);padding-left:30px;font-size:24px;line-height:39px;max-width:550px;}
.sales-manager-details{max-width:600px;display: flex; flex-direction: column; justify-content: space-between;height: 100%;}
.contact_us_form-title h2 {/*font-size: 68px; line-height: 86px;*/ margin-bottom: 40px;     font-size: clamp(1.5rem, 2.5vw, 2.5rem);}
.contact_us_form_main {background: #fff; padding: 40px 30px; border-radius: clamp(15px, 2.5vw, 24px); }
.sm-details-bottom{display:flex;justify-content:space-between;}
.sm-details-bottom .sm-details-info{align-self:end;padding-bottom:80px;width:50%;}
.sm-details-info span.sm-name{display:inline-block;width:100%;font-size: 24px; font-weight: 600; text-transform: uppercase;}
.sm-details-bottom .sm-details-img{width:50%;}
.sm-details-bottom .sm-details-img img{max-width:100%;}
.sm-position {font-size: 18px; font-weight: bold; text-transform: uppercase;; font-weight: 500; }

.contact_us_form .form-group .form-control {background: rgba(39, 39, 39, 0.1); border: none; padding: 15px 30px; height: 65px; color: rgba(11, 12, 14, 1); border-radius: 20px; }
.contact_us_form .form-group textarea.form-control{height:140px;}
.contact_us_form .form-group{margin-bottom:20px;}


.contact_us_form .form-control::placeholder{color:rgba(11, 12, 14, 0.6);font-weight:normal;font-size:16px;}
.contact_us_form .form-control::-moz-placeholder{color:rgba(11, 12, 14, 0.6);font-weight:normal;font-size:16px;}
.contact_us_form .form-control:-ms-input-placeholder{color:rgba(11, 12, 14, 0.6);font-weight:normal;font-size:16px;}
.contact_us_form .form-control::-webkit-input-placeholder{color:rgba(11, 12, 14, 0.6);font-weight:normal;font-size:16px;}
.contact_us_form .form-control::-o-input-placeholder{color:rgba(11, 12, 14, 0.6);font-weight:normal;font-size:16px;}

.footer-speak-team.banner-speak-team {background: rgba(255, 255, 255, 0.3); }
.footer-speak-team.banner-speak-team p {color: rgba(255,255,255,0.5); }

.f-menu-title{color:#676767;font-size:18px;line-height:28px;padding:2px 0;position:relative;text-transform:uppercase;font-weight:600;margin-bottom:10px;display:inline-block;}
.new-footer-menu.footer-menu-bottom {padding-bottom: 0px; padding-top: 50px; border-top: 1px solid #1A1A1A; margin-top: 35px; }

.new-footer-main .container{max-width:1640px; width: 87%;}
.new-footer-main .type-wrap h2 {text-align: left; color: #fff;}
.new-footer-main .new-footer-top{padding:70px 0px;}
.new-footer-main{background:#010101;padding-top:50px;}
.map_address_row{display:flex;}
.map_address_row .new-footer-map{width:100%;}
.map_address_row .new-footer-map .map-img{max-width: 96%; z-index: 1; position: relative; width: 100%;}
.map_address_row .footer-address{width:calc(100% - 670px);padding-left:50px;padding-top:60px;padding-right:20px;}
.new-footer-menu{padding-bottom:60px;display:flex;justify-content:space-between;}
ul.f-menu{padding-left:30px;}
ul.f-menu li a{font-size:18px;line-height:28px;padding:2px 0;position:relative;color:#fff;}
ul.f-menu li a:after{content:'';position:absolute;width:0;height:2px;display:block;right:0;background:#000;transition:width .3s ease;-webkit-transition:width .3s;}
ul.f-menu li a:hover:after{width:100%;left:0;background:#F8CE5A;}
ul.f-menu li a:hover{color:#F8CE5A;}
.address h3.address-title{font-size:24px;color:#F05D27;font-weight:600;line-height:normal;margin-bottom:13px;position:relative;}
.new-footer-main label.footer-label{font-size:18px;color:#8A8A8A;font-weight:400;margin-bottom:10px;display:inline-block;width:100%;}
.new-footer-main address,.new-footer-main .address a,.new-footer-main .f_contact ul li a{font-size:18px;line-height:27px;color:#000;}
ul.f-menu li{margin:10px 0px;}
.new-footer-main .f_contact ul li{margin:33px 0px;}
.new-footer-bottom{padding:35px 0px;border-top:1px solid #1A1A1A;}
.new-footer-bottom .copy-right-text p{margin-bottom:0px;font-size:18px;color:rgba(255,255,255,0.5);padding:10px 0px;}
.f_social_link_wp ul.social-link li a{cursor: pointer; color:#000;width:48px;height:48px;text-align:center;display: flex; justify-content: center; align-items: center;}
.f_social_link_wp ul.social-link li{margin-left:30px;margin-right:0px;}
/*.f_social_link_wp ul.social-link li a:hover{background:#F8CE5A;border-color:#F8CE5A;}*/

.footer-bottom-right{display:flex;justify-content:space-between;gap:40px;align-items:center;}
.fb-btn .btn{background:#272727;}
.fb-btn .btn:hover{background:#111111;color:#fff;}
.footer-bottom-right ul li{display:flex;align-items:center;}
.footer-bottom-right ul{display:flex;align-items:center;gap:40px;}
.footer-bottom-right .call-mail-icon{width:48px;}
.footer-bottom-right .call-mail-icon svg{max-width:100%;width:100%;}
.footer-bottom-right .call-mail-info{display:flex;flex-direction:column;width:calc(100% - 48px);padding-left:20px;}
.call-mail-info label{display:inline-block;color:#fff;text-transform:uppercase;letter-spacing:2px;font-size:14px;margin-bottom:4px;}
.call-mail-info .call-mail-link{font-size:18px;font-weight:600;}
.call-mail-info .call-mail-link:hover{text-decoration:underline;}

.address h3.address-title span.dots{position:absolute;height:24px;width:24px;background:transparent;border-radius:100%;border:2px solid #F05D27;padding:3px;left:-37px;top:5px;display:flex;align-items:center;justify-content:center;}
.address h3.address-title span.dots .inner-dots{width:14px;height:14px;display:inline-block;position:absolute;background:#F8CE5A;border-radius:100%;}
.address h3.address-title span.dots:after{content:"";height:36px;width:36px;position:absolute;margin:auto;animation:dots_animation 2s ease-out;animation-iteration-count:infinite;opacity:0;box-shadow:0 0 1px 2px #F8CE5A;animation-delay:1.1s;border-radius:100%}

.new-footer-main .f_contact ul li a:hover {color: #F8CE5A; }
.new-footer-main .f_social_link_wp ul.social-link {display: flex; justify-content: end; align-items: center; }
@keyframes dots_animation{
  0%{transform:scale(.1,.1);opacity:.0}
  50%{opacity:1.0}
  100%{transform:scale(1.1,1.1);opacity:0}
}

.address h3.address-title .map-line{position:absolute;top:30px;height:230px;width:110px;display:inline-block;right:calc(100% + 25px);object-position:top; }
.address h3.address-title .map-line-2{ animation: 3s down-leave infinite; }

@keyframes down-leave {
  0% { clip-path: inset(0 0 100% 0); }
  100% { clip-path: inset(0); }
}


.inquiry_main{background:#F0F0F0;padding:30px;display:flex;justify-content:space-between;align-items:center;border-radius: 10px;}
.inquiry_btn .btn.cta{min-width:252px;justify-content:center;display:flex;align-items:center;}
.inquiry_title h3{font-size:30px;font-weight:500;margin-bottom:0px;}
.new-footer-center{padding-bottom:35px;}
.new_review_link_main{height:100%;display:flex;flex-wrap:wrap;margin:0px -15px 0px -10px;}
.new_review_link_main .new_review_link_wp{text-align:center;padding:0px 10px;}
.new_review_link_main .new_review_link_wp a.review_link{width:100%;height:100%;display:flex;align-items:center;justify-content:center;background:#F0F0F0;padding:10px 15px; border-radius: 10px;}
.new_review_link_main .new_review_link_wp:nth-child(1){width:30%;}
.new_review_link_main .new_review_link_wp:nth-child(2){width:32%;}
.new_review_link_main .new_review_link_wp:nth-child(3){width:38%;}
.new_review_link_main .new_review_link_wp a.review_link:hover{background:#dddddd;}
.breview_link_main{display:flex;align-items:center;margin-bottom:50px;flex-wrap:wrap;}
.breview_link_main .breview_link_wp:nth-child(2){padding:0px 30px;margin:0px 30px;border-left:1px solid #000;border-right:1px solid #000;}


.new-footer-upper{display:flex;justify-content:space-between;gap:30px;align-items:center;}
.footer-main-menu-link ul{display:flex;flex-wrap:wrap;gap:20px;}
.footer-main-menu-link ul li a{color:rgba(255,255,255,0.8);text-transform:uppercase;}
.footer-main-menu-link ul li a:hover{color:#fcbc13;}
.new-footer-upper .footer-logo{width:121px;}
.new-footer-upper .footer-logo svg{width:100%;height:auto;}
.new-footer-upper .footer-logo a{display:inline-block;width:100%;}


.footer-name-wp{text-align:center;}
.footer-name-wp .footer-name{color:#A5A5A5;line-height:1;font-size:clamp(18px,9.3vw,185px);font-weight:800;white-space:nowrap;text-align:center;}
.f-icontext-main{display:flex;margin-top:20px;margin-bottom:50px; flex-wrap: wrap;}
.f-icontext-main .f-icontext{margin-right:12px;margin-bottom:15px;background:rgba(255,255,255,0.3);padding:12px 10px;border-radius:15px;border:1px solid #dddddd;line-height:1;font-size: 13px;}
.f-icontext-main .f-icontext svg{margin-right:10px;}
.contact_us_text_row .contact_us_text_col{padding:16px 0px;border-bottom:1px solid rgba(221,221,221,0.2);}
.contact_us_text_row .contact_us_text_col p{margin-bottom:0px;}
.contact_us_text_row .contact_us_text_col:last-child{border-bottom:none;}
.contact_mail_main{margin:40px 0px;}
.contact_mail_main .contact_mail{width:100%;text-align:center;color:#000;background:#ffff;padding:15px;border-radius:35px;font-size:clamp(14px,1.5vw,1.4rem);font-weight:500;}


@media (max-width: 1699.98px) { 
.inquiry_title h3{font-size:26px;}
.inquiry_main{padding:20px;}
ul.f-menu li a{font-size:17px;}
.new-footer-main address,.new-footer-main .address a,.new-footer-main .f_contact ul li a{font-size:17px;}
.new-footer-main .f_contact ul li{margin:25px 0px;}


.address h3.address-title .map-line {top: 30px; height: 200px; width: 102px; }


}



@media (max-width: 1599.98px) { 




.new-footer-main .new-footer-top{padding:50px 0px;}
.new-footer-menu{padding-bottom:40px;}
ul.f-menu{padding-left:20px;}
ul.f-menu li a{font-size:16px;line-height:24px;}
ul.f-menu li{margin:8px 0px;}
.new-footer-main address,.new-footer-main .address a,.new-footer-main .f_contact ul li a{font-size:16px;}
.new-footer-main .f_contact ul li{margin:20px 0px;}
.inquiry_main{padding:15px 15px;}
.inquiry_title h3{font-size:22px;line-height:28px;}
.inquiry_btn .btn.cta{min-width:195px;width:195px;font-size: 15px;}
.new_review_link_main .new_review_link_wp{padding:0px 5px;}
.new_review_link_main{margin:0px -25px 0px -5px;}
.new-footer-bottom{padding:30px 0px;}
.new-footer-bottom .copy-right-text p{font-size:18px;padding:5px 0px;}
.f_social_link_wp ul.social-link li a{width:55px;height:55px;}
.f_social_link_wp ul.social-link li {margin-left: 15px; }

.address h3.address-title .map-line  {top: 30px; height: 170px; width: 94px; }

}


@media (max-width: 1499.98px) { 

.sm-details-top p{padding-left:25px;font-size:18px;line-height:30px;max-width:520px;}

.sm-details-bottom .sm-details-img img{max-width:85%;}
.contact_us_form-title h2{margin-bottom:40px;}
.f-menu-title{font-size:16px;line-height:24px;}
.call-mail-info label{font-size:13px;margin-bottom:2px;}
.call-mail-info .call-mail-link{font-size:16px;}
.new-footer-bottom .copy-right-text p{font-size:16px;}

.form-send-btn .btn{padding:19px 55px 19px 20px;font-size:16px;}
.form-send-btn .btn::after{right:7px;}


.contact_us_form .form-group .form-control{height:55px;border-radius:15px;padding:14px 20px;font-size:16px;}
.form-send-btn .btn{min-height:55px;}



}



@media (max-width: 1399.98px) { 




.new-footer-main .container{max-width:1140px;}
ul.f-menu li a{font-size:14px;line-height:22px;}
ul.f-menu{padding-left:15px;}
.new-footer-main address,.new-footer-main .address a,.new-footer-main .f_contact ul li a{font-size:16px;line-height:26px;}
.new-footer-main label.footer-label{font-size:16px;margin-bottom:7px;}
.address h3.address-title{font-size:22px;margin-bottom:10px;position:relative;}
.new-footer-main .f_contact ul li{margin:25px 0px;}
ul.f-menu li{margin:7px 0px;}
.inquiry_title h3{font-size:20px;line-height:34px;}
.inquiry_btn .btn.cta{min-width:210px;width:210px;}
.new_review_link_main{margin:0px -25px 0px -5px;}
.new_review_link_main .new_review_link_wp{padding:0px 5px;}

.address h3.address-title .map-line {top: 30px; height: 145px; width: 85px; }

/*  .contact_us_form-title h2{font-size:45px;line-height:55px;margin-bottom:58px;}*/
  .sm-details-top p{width:calc(100% - 36px); padding-left: 30px; font-size: 16px; line-height: 26px; max-width: 448px;}
  .new-footer-bottom .copy-right-text p{font-size:14px;}
  .call-mail-info label{letter-spacing:1px;font-size:12px;margin-bottom:2px;}
  .call-mail-info .call-mail-link{font-size:14px;}
  .f-menu-title{font-size:16px;}

/*  .form-send-btn .btn{padding:20px 35px;color:#000;font-weight:bold;}*/
  .sm-details-info span.sm-name{font-size:20px;}
  .sm-position{font-size:14px;}
  .form-bottom-text{font-size:14px;}

/*  .form-send-btn .btn{padding:20px 35px;color:#000;font-weight:bold;}*/
  .sm-details-info span.sm-name{font-size:20px;}
  .sm-position{font-size:14px;}
  .form-bottom-text{font-size:14px;}
  .contact_us_form .form-group .form-control{padding:12px 20px;height:60px;border-radius:13px;}



}

@media (max-width: 1299.98px) {
.inquiry_title h3{font-size:18px;line-height:28px;}
.inquiry_btn .btn.cta{min-width:185px;width:185px; font-size: 14px;}
.form-send-btn .btn {font-size: 15px; padding: 19px 54px 19px 18px; }
.call-mail-info .call-mail-link {font-size: 12px; }

}



@media (max-width: 1199.98px) {




.new-footer-main .container{width:85%;}

.new-footer-main address,.new-footer-main .address a,.new-footer-main .f_contact ul li a{font-size:15px;}
.address h3.address-title{font-size:20px;}
.address h3.address-title span.dots{height:20px;width:20px;background:transparent;border-radius:100%;border:2px solid #F05D27;padding:3px;left:-28px;top:5px;display:flex;align-items:center;justify-content:center;}
.address h3.address-title span.dots:after{width:34px;height:34px;}
.address h3.address-title span.dots .inner-dots{width:12px;height:12px;}
.new-footer-main .new-footer-top{padding:40px 0px;}
.inquiry_title h3{font-size:15px;line-height:20px;}
.inquiry_btn .btn.cta{min-width:160px;width:160px;padding: 9px 15px;}
.inquiry_main{padding:10px;}
.new_review_link_main .new_review_link_wp a.review_link{padding:10px;}
.new_review_link_main .new_review_link_wp{padding:0px 3px;}
.new_review_link_main{margin:0px -27px 0px -3px;}
.new-footer-bottom .copy-right-text p{font-size:14px;}
.new-footer-bottom{padding:20px 0px;}
.f_social_link_wp ul.social-link li a{width:45px;height:45px;}
.address h3.address-title .map-line {top: 20px; height: 92px; width: 67px; right: calc(100% + 19px); }
.footer-main-menu-link ul li a{font-size:14px;}
.footer-main-menu-link ul{gap:15px;}
.new-footer-upper .footer-logo{width:100px;}

.f-menu-title{font-size:13px;}
ul.f-menu li a{font-size:12px;line-height:18px;}
.footer-bottom-right .call-mail-info{width:calc(100% - 38px);padding-left:10px;}
.footer-bottom-right .call-mail-icon{width:38px;}
.footer-bottom-right{gap:25px;}
.new-footer-bottom .copy-right-text p{font-size:14px;line-height:20px;}
.footer-bottom-right ul{gap:25px;}
/*.form-send-btn .btn{padding:17px 25px;border-radius:10px;}*/
.form-bottom-text{font-size:12px;}
.contact_us_form .form-group .form-control{padding:12px 15px;height:50px;border-radius:10px;font-size:14px;}
.form-send-btn .btn {font-size: 13px; padding: 17px 45px 17px 15px; border-radius: 12px; }

.copy-right-text {text-align: center; margin-top: 20px; }

.f-icontext-main {margin-bottom: 30px; }


}


@media (max-width: 991.98px) {



.new-footer-main .container{max-width:720px;width:100%;}
.new_review_link_main{margin:0px -3px 10px;height:calc(100% - 10px);}
.new_review_link_main .new_review_link_wp a.review_link{padding:15px 25px;}
.inquiry_main{padding:13px 13px;}
.map_address_row .new-footer-map{max-width:440px; margin: 0px auto;}
.map_address_row .footer-address{width:calc(100% - 440px);}
.new-footer-menu{padding-bottom:20px;justify-content:space-evenly;}
ul.f-menu{padding-right:0px;padding-left:0px;}
.new-footer-main .new-footer-top{padding:30px 0px;}
.inquiry_title h3 {font-size: 20px; }
.address h3.address-title .map-line {top: 20px; height: 146px; width: 70px; right: calc(100% + 18px); }

.new-footer-upper {flex-direction: column; }

  .new-footer-main .f_social_link_wp ul.social-link{justify-content:center;}
  .f_social_link_wp ul.social-link li:first-child{margin-left:0pc;}
  .new_review_link_main .new_review_link_wp a.review_link, .inquiry_main {border-radius: 5px;}

  .sales-manager-details{max-width:100%;}
  .sm-details-top p{max-width:100%;}
  .sm-details-bottom .sm-details-img { text-align:right; }
  .sm-details-bottom .sm-details-img img{max-height:250px;}
  .sm-details-bottom .sm-details-info{width:80%;padding-bottom:25px;}
  .sm-details-bottom{border-bottom:1px solid #ccc;margin-bottom:30px;}

  .footer-bottom-right{flex-direction:column-reverse;}
  .call-mail-info .call-mail-link{font-size:14px;}

  .footer-name-wp .footer-name {font-size: clamp(18px, 9.5vw, 76px);}

}

@media (min-width: 768px) {
.mobile_line{display: none;}
}

@media (max-width: 767.98px) {




.new-footer-main .container{max-width:540px;}   

.new-footer-bottom .copy-right-text{text-align:center;margin-top:10px;}
.new-footer-bottom{padding:25px 0px;}
.f_social_link_wp ul.social-link li a{width:40px;height:40px;}

.map_address_row{flex-wrap:wrap;}
.map_address_row .new-footer-map{width:100%;}
.map_address_row .footer-address{width:100%;padding-top:0;margin:-50px 0px 0px;position: relative; z-index: 1;}

.new-footer-menu {padding-bottom: 0px; justify-content: space-between; flex-wrap: wrap;display: flex; gap: 30px; }
.map_address_row .footer-address .address{max-width:200px;}
.new-footer-main .f_contact ul li{margin:20px 0px;}
ul.f-menu{padding-left:0px;padding-right:0px;}

.address h3.address-title .map-line {display: none; }

.mobile_line{position:absolute;left:119px;width:50%;transform:rotate(-8deg);bottom:18%;z-index:2;}
.map-line.map-line-2{animation:3s right-leave infinite;}
.mobile_line .map-line{position:absolute;width:100%;}
.map_address_row .new-footer-map{position:relative;}

@keyframes right-leave {
  0% { clip-path: inset(0 100% 0 0) }
  100% { clip-path: inset(0); }
}


ul.f-menu{width:auto;}
.new-footer-menu.footer-menu-bottom{flex-wrap:wrap;justify-content:flex-start;display:flex;gap:40px;}
.f-menu-title{margin-bottom:10px;}
ul.f-menu li a{font-size:14px;}
.form-bottom-text {margin-top: 15px; } 
.contact_us_sec {padding-top: 60px; }

.footer-bottom-right ul {flex-direction: column; align-items: flex-start; }
.footer-name-wp .footer-name {font-size: clamp(18px, 9.5vw, 58px); margin-top: 30px;}

}



@media (max-width: 481px) {

.new_review_link_main .new_review_link_wp a.review_link{padding:10px 10px;}
.inquiry_title h3{font-size:14px;}


.mobile_line{left: 120px;width: 180px;transform: rotate(-18deg);bottom: 19px;z-index:2;}
.map_address_row .footer-address{margin-top:-0px;}
.map_address_row .new-footer-map .map-img{max-width:290px;}
.new-footer-main{overflow:hidden;}
.map_address_row .new-footer-map{max-width:320px;}
.mobile_line .map-line{width: 60%;}

.footer-main-menu-link ul li a{font-size:12px;}
.footer-main-menu-link ul{justify-content:center;gap:10px;}


}


@media (max-width: 370px) {

ul.f-menu{padding-left:0px;}
ul.f-menu:first-child{padding-right:30px;}
.new-footer-main address,.new-footer-main .address a,.new-footer-main .f_contact ul li a{font-size:14px;line-height:22px;}
.new-footer-main label.footer-label{font-size:14px;}
.address h3.address-title{font-size:18px;}

.mobile_line .map-line{width:65%;}
.mobile_line{left:105px;width:196px;bottom:20px;}

}
