
.the-process{display:flex;align-items:start;gap:clamp(30px,4vw,4vw)}

@media(min-width:768px){
    .the-process{min-height:100vh}
}

.the-process__cta{margin-top:clamp(40px,5.0632911392vw,5.0632911392vw);text-align:center}

@media(max-width:767px){
    .the-process__cta .button{width:100%}
}

.the-process__steps{flex:1 1 50%}
.the-process__steps--in-page{flex:0 0 100%}

@media(min-width:768px){
    .the-process__steps--in-page{flex-basis:60%}
}

.the-process__step-contents{display:flex}

@media(max-width:767px){
    .the-process__step-contents{flex-direction:column;max-height:2000px;overflow:hidden;transition:max-height 250ms}
    .the-process__step:not([data-is-toggled]) .the-process__step-contents{max-height:0}
}

@media(min-width:768px){
    .the-process__step-contents{flex-direction:row;gap:2em;padding-bottom:5em}
}

@media screen and (max-height:699px){
    .no-touch .the-process__step-contents{display:flex;gap:40px}
}

.the-process__step-images{flex:1;position:sticky;top:150px;min-height:calc(100vh - 300px)}

@media(max-width:767px){
    .the-process__step-images{display:none}
}

.the-process__image-switcher{position:sticky;top:100px;height:calc(100vh - 200px);flex:1 0 400px;display:flex;flex-direction:column;justify-content:center}

@media(max-width:767px){
    .the-process__image-switcher{display:none}
}

@media screen and (max-height:699px){
    .the-process__image-switcher{display:none}
}

.the-process__image-switcher__img{position:relative;height:100%}
.the-process__image-switcher__img>div{display:block;position:absolute;top:0;left:0;width:100%;height:100%;object-fit:contain;opacity:0;transition:opacity ease-in .2s}
.the-process__image-switcher__img>div[data-is-active]{opacity:1;margin-top:0}
.the-process__image-switcher__img img{width:100%;height:100%;object-fit:contain;object-position:left center}

@media screen and (min-height:1400px){
    .the-process__image-switcher__img img{object-position:top left}
}

.the-process__step-image{position:absolute;top:0;left:0;right:0;bottom:0;transition:all 250ms; padding-bottom: 40px}
.the-process__step-image:not([data-is-active]){opacity:0;transform:translateY(10%);}
.the-process__step-image img{object-fit:contain;height:100%;width:100%;}
.the-process__step{position:relative}

@media(max-width:767px){
    .the-process__step{padding:.25em 0}
    .the-process__step:before{content:"";position:absolute;top:0;left:0px;right:0px;background-color:#5A5A5A;height:1px}
    .the-process__step:after{content:"";position:absolute;bottom:-1px;left:0px;right:0px;background-color:#5A5A5A;height:1px}
    .the-process__step[data-is-toggled]:before,.the-process__step[data-is-toggled]:after{background-color:#fff;height:2px}
    .the-process__step-img img {max-width: 75%; }
}

@media(max-width:767px){
    .the-process__step:not([data-is-toggled]) *{color:rgba(255,255,255,.4)}
/*    .the-process__step:not([data-is-toggled]) * .the-process__step-description ul li::before{background:url('data:image/svg+xml,<svg xmlns=!string!viewBox=!string!fill=!string!><path fill-rule=!string!clip-rule=!string!d=!string!fill=!string!/></svg>');background-repeat:no-repeat;background-position:center;background-size:contain}*/
}

@media(min-width:768px){
    .the-process__step *{transition:all 100ms}
    .the-process__step:not([data-is-active]) *{color:rgba(255,255,255,.4)}
    .the-process__step:not([data-is-active]) .the-process__step-description ul li:before {filter: grayscale(100%); opacity: 0.5; }
/*  .the-process__step:not([data-is-active]) * .the-process__step-description ul li::before{background:url('data:image/svg+xml,<svg xmlns=!string!viewBox=!string!fill=!string!><path fill-rule=!string!clip-rule=!string!d=!string!fill=!string!/></svg>');background-repeat:no-repeat;background-position:center;background-size:contain}*/
    .the-process__step:not(:first-child){margin-top:40px}
}

@media(min-width:768px){
    .the-process__step:not(:last-child) .the-process__step-contents{border-bottom:solid 1px #5A5A5A}
}

@media(min-width:768px){
    .the-process__step{padding-left:4.3037974684vw}
    .the-process__step:not(:first-child){margin-top:0}
}

.the-process__step a{display:block}

@media(min-width:768px){
    .the-process__step:not(:last-child):after{content:"";width:1px;height:calc(100% + 22px);background-color:gray;position:absolute;top:1em;left:0;z-index:0}
    .the-process__step:not(:last-child):before{content:"";width:1px;height:calc(100% + 22px);background-color:#FCBC14;position:absolute;top:1em;left:0;transition:height .5s linear;transition-delay:.15s;z-index:1}
    .the-process__step[data-is-active]:before,.the-process__step[data-is-active]~.the-process__step:before{height:0%}
    .the-process__step[data-is-active]~.the-process__step .the-process__step-circle{color:#5A5A5A}
    .the-process__step[data-is-active]~.the-process__step .the-process__step-circle-anim circle{stroke-dashoffset:500}
}

/*.the-process__step-circle{background-color:#151618;border:solid 1px #5A5A5A;border-radius:50%;position:absolute;top:1em;left:0;height:clamp(48px,3.0379746835vw,3.0379746835vw);width:clamp(48px,3.0379746835vw,3.0379746835vw);z-index:1;color:#fff;font-size:clamp(30px,1.8987341772vw,1.8987341772vw);font-weight:700;display:flex;align-items:center;justify-content:center}*/
.the-process__step-circle{background-color:#fcbc13;border:solid 1px #fcbc13;border-radius:50%;position:absolute;top:1em;left:0;height:clamp(48px,3.0379746835vw,3.0379746835vw);width:clamp(48px,3.0379746835vw,3.0379746835vw);z-index:1;color:#000;font-size:clamp(22px,1.6987341772vw,1.4987341772vw);font-weight:400;display:flex;align-items:center;justify-content:center;}
.the-process__step:not([data-is-active]) .the-process__step-circle {background-color: #383838; border: solid 1px #C4C4C4; color:#fff; }

.the-process__step-circle a{color:#fff;text-decoration:none;position:relative}

@media(max-width:991px){
.the-process__step-images{min-height:300px;}
.the-process__step-heading{font-size:30px;}
}

@media(min-width:768px){
    .the-process__step-circle{pointer-events:none;left:0;transform:translateX(-50%);top:14px;}
    .the-process__step-circle a{color:inherit}
}

.the-process__step-circle-anim{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;width:100%;height:100%}
.the-process__step-circle-anim circle{stroke-dasharray:500;stroke-dashoffset:0;transform:rotate(-90deg);transform-origin:center;width:100%;height:100%;transition:stroke-dashoffset 1s cubic-bezier(0.2,1,1,0.99);transition-delay:.7s}

@media(max-width:767px){
    .the-process__step-circle-anim circle{stroke-dashoffset:0}
    .the-process__step:not([data-is-toggled]) .the-process__step-circle-anim circle{opacity:100}
}

.the-process__step-heading{font-weight: 500;font-size: 34px;line-height: 1.4;margin:0;padding:.5em 0}
.the-process__step-heading a{color:#fff;text-decoration:none}

@media(max-width:767px){
    .the-process__step-heading a{display:flex;justify-content:space-between;gap: 15px;}
    .the-process__step-heading a::after{background-image:url('../images/angle-small-down.svg');background-position:center;background-repeat:no-repeat;background-size:contain;opacity: .4;content:"";display:block;width:1em;aspect-ratio:1;font-weight:500}
    .the-process__step[data-is-toggled="true"] .the-process__step-heading a::after{background-image:url('../images/angle-small-up.svg');background-position:center;background-repeat:no-repeat;background-size:contain;opacity:1}
}

@media(min-width:768px){
    .the-process__step-heading a{pointer-events:none;cursor:default}
}

@media(max-width:767px){
    .the-process__step-heading{padding-left: 48px;padding-top:1em;padding-bottom:1em;font-size: 18px;line-height: 1.4;}
}

@media(min-width:768px){
    .the-process__step-heading{border-bottom:solid 1px #5A5A5A;padding-left:0}
    .the-process__step-heading a{color:inherit}
}

.the-process__step-img{order:-1}
.the-process__step-img img{display:block;height:auto;width:100%}

@media(min-width:768px){
    .the-process__step-img{display:none}
}

.the-process__step-description{font-size:clamp(20px,1.5189873418vw,1.5189873418vw);line-height:1.2em}
.the-process__step-description>*:first-child{margin-top:1em}
.the-process__step-description>*:last-child{margin-bottom:0}
.the-process__step-description ul{color:#bfbfbf;list-style:none;margin:0;padding:0;font-size:clamp(20px,1.5189873418vw,1.5189873418vw);padding-top: 10px;}
.the-process__step-description ul li{display:flex;align-items:start;gap:.75em;}
.the-process__step-description ul li:not(:last-child){margin-bottom:20px}
/*.the-process__step-description ul li::before{content:"";display:block;background:url('');background-repeat:no-repeat;background-position:center;background-size:contain;width:.75em;top:.25em;position:relative;aspect-ratio:1;flex-shrink:0}*/
.the-process__step-description ul li:not(:last-child){margin-bottom:.25em}
/*.the-process__step-description ul li::before{background:url('');background-repeat:no-repeat;background-position:center;background-size:contain}*/

@media(max-width:767px){
    .the-process__step-description{padding-bottom:2em}
}
@media(min-width:768px){
    .the-process__step-description{flex:1 0 50%}
}
@keyframes imageTransform{
    to{transform:translateY(0px)}
}
@media(max-width:767px){
    .process-section{border-bottom:solid 1px #5A5A5A;padding-bottom: 65px;}
}




@media(max-width:767px){
    .the-process__step-circle{height: 35px;width: 35px;font-size: 15px;top: 17px;line-height: 35px;}
    .the-process__step:not([data-is-toggled]) *{color:#fff;}
    .the-process__step:not([data-is-active]) .the-process__step-circle{background-color:#fcbc13;border:solid 1px #fcbc13;}
}

